/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Volkhov', serif; */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');


/* Styling Time! */
html {
    scroll-behavior: smooth;
}

/* Intro Column */ 
.column-title {
    background-color: #EDE8D3;
    padding-left: var(--column-padding);
    padding-right: var(--column-padding);
    padding-top: calc(1* var(--column-padding));
}

.column-title p {
    font-family: 'Rubik', sans-serif; 
    font-size: var(--column-title-p);
}

/* Site Title */
h1 {
    font-family: 'Volkhov', serif;
    font-size: var(--column-title-h1);
    line-height: var(--column-title-lineheight);
    color: black;
    text-transform: uppercase;
}

/* Site Description */
.channel-description {
    padding-top: var(--intro-padding);
}

/* Content Column */
.column-content {
    padding-left: var(--column-padding);
    padding-right: var(--column-padding);
    padding-top: calc(1* var(--column-padding));
}

.block:not(:first-child) {
    margin-top: var(--block-margin);
}

/* Content Titles Styling*/
.block--image figcaption, 
.block--link figcaption, 
.block--linkedvideo figcaption, 
.block--text figcaption, 
.block--uploadedaudio figcaption, 
.block--pdf figcaption {
    font-family: 'Volkhov', serif;
    font-size: var(--figcaption-p);
}

/* Content Titles Styling on Hover*/
.block--image figcaption:hover, 
.block--link figcaption:hover, 
.block--linkedvideo figcaption:hover, 
.block--text figcaption:hover, 
.block--uploadedaudio figcaption:hover, 
.block--pdf figcaption:hover {
    cursor: pointer;
    text-decoration: underline;
}

.block--image figcaption:hover {
    color: #EB5500;
}

.block--link figcaption:hover {
    color: #B45982;
}

.block--linkedvideo figcaption:hover {
    color: #606F08;
}

.block--text figcaption:hover {
    color: #2A53EC;
}

.block--uploadedaudio figcaption:hover {
    color: #D69A00;
}

.block--pdf figcaption:hover {
    color: #FF77B7;
}

.block--image figcaption, 
.block--link, 
.block--linkedvideo, 
.block--text, 
.block--uploadedaudio, 
.block--pdf {
    list-style-type: circle;
    padding: var(--figcaption-padding)
}

/* Image Styling */
.block--image::marker {
    color: #EB5500;
    content: '•';
    font-size: 25px;
}

/* Link Styling */
.block--link::marker {
    color: #B45982;
    content: '•';
    font-size: 25px;
}

/* Video Styling */
.block--linkedvideo::marker {
    color: #606F08;
    content: '•';
    font-size: 25px;
}

/* Text Styling */
.block--text::marker {
    color: #2A53EC;
    content: '•';
    font-size: 25px;
}

/* Audio Styling */
.block--uploadedaudio::marker {
    color: #D69A00;
    content: '•';
    font-size: 25px;
}

/* PDF Styling */
.block--pdf::marker {
    color: #FF77B7;
    content: '•';
    font-size: 25px;
}

.description-header {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
    margin-bottom: 3rem;
    top: 0;
    width: 100%;
    position: relative;
}

hr {
    border: 1px solid white;
    position: absolute;
    top: 100%; /* Or adjust this value as needed */
    width: 100%; /* Or adjust this value as needed */
    /* margin-top: 30px; */
}

.block--image__description {
    background-color: #EB5500;
}

.class-onclick, 
.text-class-onclick {
    font-family: 'Worksans', sans-serif;
    font-size: var(--class-onclick-p);
    text-transform: uppercase;
    color: white;
    font-weight: 100;
}

.close-button {
    font-family: 'Worksans', sans-serif;
    font-size: calc(0.8 * var(--class-onclick-p));
    color: white;
    /* Referenced code from Stack Overflow */
    border-radius: 50%;
    display: block;
    text-align: center;
    align-content: center;
    font-weight: 100;
    border: 1px white;
    border-style: solid;
    width: 25px;
    height: 25px;
}

.close-button:hover {
    cursor: pointer;
    color: white;
    font-weight: 400;
    border: 2px white;
    border-style: solid;
}

.title-onclick,
.linkedvideo-title-onclick, 
.text-title-onclick {
    font-family: 'Volkhov', serif;
    font-size: var(--description-title-p);
    line-height: 110%;
}

.blurb-onclick, 
.text-blurb-onclick {
    font-family: 'Rubik', sans-serif;
    font-size: var(--description-blurb-p);
    padding-top: 1.5rem;
}

.description-onclick {
    padding-top: var(--description-onclick-margin);
}

/* Link to Original Source */
.link-source-onclick,
.text-source-onclick,
.linkedvideo-source-onclick,
.images-source-onclick,
.pdf-source-onclick,
.source-onclick {
    font-family: 'Volkhov', serif;
    font-style: italic;
    border: black 1px;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.link-source-onclick:hover,
.linkedvideo-source-onclick:hover,
.text-source-onclick:hover,
.images-source-onclick:hover,
.pdf-source-onclick:hover,
.source-onclick:hover {
    color: white;
    border: white 5px;
    background-color: black;
    transition: 0.3s; /* Add transition for smooth effect */
}

/* Text Description Styles */
.block--text__description {
    background-color: #2A53EC;
}

.text-onclick {
    background-color: white;
    padding: 10px;
    align-items: start;
    /* Need to figure out how to make it relative */
}

.text-onclick h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--text-onclick-h1);
    text-transform: none;
    font-style: normal;
    color: black;
}

.text-onclick p {
    font-family: 'Volkhov', serif;
    text-transform: none;
    margin-top: 2rem;
    color: black;
}

.text-class-onclick, 
.text-title-onclick, 
.text-blurb-onclick{
    text-transform: none;
    font-style: normal;
}


/* Link Description Styles */
.block--link__description {
    background-color: #B45982;
}

/* Linked Video Description Styles */
.block--linkedvideo__description {
    background-color: #606F08;
}

.block--uploadedaudio__description {
    background-color: #D69A00;
}

.block--pdf__description {
    background-color: #FF77B7;
}

/* Footer  */

footer p {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--footer-p);
    color: #F8F3F0;
}

footer {
    background-color: black;
    padding-top: var(--padding-footer);
    padding-bottom: var(--padding-footer);
    padding-left: var(--padding-footer);
}

/* Mobile  */
@media (min-width: 350px) {
    :root {
        --block-margin: 0.5em;

        /* Title Styles*/
        --column-title-h1: 100px;
        --column-title-lineheight: 100%;
        --column-title-p: 20px;
        --column-padding: 4rem;
        --intro-padding: 4rem;

        --figcaption-p: 20px;

        --class-onclick-p: 18px;

        /* Text Styles */
        --text-onclick-h1: 45px;

        --description-title-p: 40px;
        --description-blurb-p: 20px;

        --gutter: var(--typography-p);
    }

    .wrapper {
        display: grid;
    }

    .column-title {
        position: sticky;
        top: 0;
        padding-bottom: 4rem;
    }

    .column-content {
        flex: 1; /* Allow column to grow and shrink */
        overflow-y: auto; /* Enable vertical scrolling */
        padding-bottom: 4rem;
    }

    /* onClick Background Styling */
    .block--image__description, 
    .block--link__description, 
    .block--linkedvideo__description, 
    .block--text__description, 
    .block--uploadedaudio__description, 
    .block--pdf__description {
        display: none;
        position: fixed;
        /* padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        top: 0;
        left: 34vw;
        bottom: 0;
        right: 0; */
    }

    .block--image.active .block--image__description, 
    .block--text.active .block--text__description, 
    .block--uploadedaudio.active .block--uploadedaudio__description, 
    .block--link.active .block--link__description, 
    .block--linkedvideo.active .block--linkedvideo__description,
    .block--pdf.active .block--pdf__description {
        display: flex;
        flex-direction: column;
    }    

    .image-large {
        display: none;
    }

    .image-thumbnail {
        display: contents;
    }
}

/* Desktop */
@media (min-width:1200px) {
    :root {
        --block-margin: 0.3em;

        --figcaption-padding: 10px;

        /* Title Styles*/
        --column-title-h1: 50px;
        --column-title-lineheight: 10%;
        --column-title-p: 18px;
        --column-padding: 4rem;
        --intro-padding: 2rem;

        --description-onclick-margin: 2rem;

        --figcaption-p: 20px;

        --class-onclick-p: 18px;

        /* Text Styles */
        --text-onclick-h1: 45px;

        --description-title-p: 40px;
        --description-blurb-p: 20px;
        --description-onlick-padding: 3rem;

        --gutter: var(--typography-p);
    }


    /* onClick Background Styling */
    .block--image__description, 
    .block--link__description, 
    .block--linkedvideo__description, 
    .block--text__description, 
    .block--uploadedaudio__description, 
    .block--pdf__description {
        display: none;
        position: fixed;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        top: 0;
        left: 34vw;
        bottom: 0;
        right: 0;
    }

    .block--image.active .block--image__description, 
    .block--text.active .block--text__description, 
    .block--uploadedaudio.active .block--uploadedaudio__description, 
    .block--link.active .block--link__description, 
    .block--linkedvideo.active .block--linkedvideo__description,
    .block--pdf.active .block--pdf__description {
        display: flex;
        flex-direction: column;
    }

    h1 {
        line-height: 100%;
    }

    .column-title {
        position: sticky;
        width: 35%;
        height: 100vh;
        top: 0;
        z-index: 100; 
        /* padding-bottom: 50vh; */
    }

    .column-title p {
        max-width: 80%
    }

    .column-content {
        position: relative;
        background-color: white;
    }

    /* Bullet point size */
    .block--image::marker,
    .block--link::marker,
    .block--linkedvideo::marker,
    .block--text::marker,
    .block--uploadedaudio::marker,
    .block--pdf::marker {
        font-size: 25px;
    }

    .text-onclick {
        width: 50%;
    }

    /* ------------------  IMAGES STYLE ------------------   */
    /* Image Sizes */
    .image-thumbnail {
        display: none;
    }

    .image-large {
        display: contents;
    }

    /* Image and Description: Side by side */
    .images-onclick,
    .images-description-body,
    .link-onclick,
    .link-description-body,
    .text-description-body,
    .pdf-onclick,
    .pdf-description-body {
        display: flex;
        align-items: flex-start; /* Align items at the top */
        flex-direction: row;
    }

    .images-description-onclick,
    .link-description-onclick,
    .text-description-onclick {
        flex-direction: column; /* Change direction to column for mobile responsiveness */
        width: 30vw;
        margin-left: 3rem;
    }

    .pdf-description-onclick {
        flex-direction: column; /* Change direction to column for mobile responsiveness */
        width: 30vw;
        margin-left: 3rem;
    }

    .images-source-onclick,
    .link-source-onclick,
    .text-source-onclick,
    .pdf-source-onclick {
        margin-top: 4rem;
    }

    /* ------------------ LINKED VIDEO STYLE ------------------ */
    /* Linked Video: Video, Title, Description, and OG Source */
    .linkedvideo-description-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    /* Video Itself */
    /* .linkedvideo-onclick {
        width: 100%;
        height: auto;
    } */

    /* iframe .embedly-embed {
        width: 100%;
    } */
    
    /* Video Description */
    .linkedvideo-description-onclick {
        width: 100%;
        order: 2;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: var(--description-onlick-padding);
    }

    /* Video Title and Source Aligned at Top */
    .linkedvideo-title-onclick,
    .linkedvideo-source-onclick {
        align-self: flex-start;
    }

    /* Video Title */
    .linkedvideo-title-onclick {
        width: 30vw;
    }

    /* Video Link to Original Source */
    .linkedvideo-source-onclick {
        margin-left: 4.5rem;
    }

    .description-text {
        flex: 1;
    }

    .description-source {
        margin-left: 20px;
    }

    .linkedvideo-source-onclick {
        margin-left: 5rem;
        top: 0;
    }

    .block--linkedvideo__description > .title-onclick {
        max-width: 50vw;
    }

    /* .embedly-embed {
        width: 700;
    } */

    /* ------------------ AUDIO STYLE ------------------ */
    /* Actual Audio Visual */
    .uploadedaudio-onclick audio {
        width: 100%; /* Adjust the width as needed */
        height: 50px; /* Adjust the height as needed */
    }

    .audio-description-onclick {
        margin-top: 3rem;
        width: 30vw;
    }
}

