/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Volkhov', serif; */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');


/* Styling Time! */
html {
    scroll-behavior: smooth;
}

/* Header
header {
    background-color: #D69A00;
    padding-top: calc(1 * var(--padding-header));
    padding-bottom: calc(1 * var(--padding-header));
    padding-left: var(--padding-header);
    padding-right: var(--padding-header);
    position: sticky;
    top: 0;
}

header p {
    color: #FFFFFF;
    font-size: var(--header-p);
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}

header p:hover {
    text-decoration: underline;
} */

/* Intro Column */ 
.column-title {
    background-color: #EDE8D3;
    padding-left: var(--column-padding);
    padding-right: var(--column-padding);
    padding-top: calc(1* var(--column-padding));
}

.column-title p {
    font-family: 'Rubik', sans-serif; 
    font-size: var(--column-title-p);
}

/* Site Title */
h1 {
    font-family: 'Volkhov', serif;
    font-size: var(--typography-h1);
    color: black;
    text-transform: uppercase;
}

/* Site Description */
.channel-description {
    padding-top: var(--intro-padding);
}

/* Content Column */
.column-content {
    padding-left: var(--column-padding);
    padding-right: var(--column-padding);
    padding-top: calc(1* var(--column-padding));
}

.block:not(:first-child) {
    margin-top: var(--block-margin);
}

/* Content Titles Styling*/
.block--image figcaption, .block--link, .block--linkedvideo, .block--text .title, .block--audio, .block--pdf {
    font-family: 'Volkhov', serif;
    font-size: var(--figcaption-p);
}

/* Content Titles Styling on Hover*/
.block--image figcaption:hover, .block--link:hover, .block--linkedvideo:hover, .block--text .title:hover, .block--audio:hover, .block--pdf:hover {
    font-style: italic;
    cursor: pointer;
}

.block--image figcaption::before, .block--link::before, .block--linkedvideo::before, .block--text .title::before, .block--audio::before, .block--pdf::before {
    margin-right: 1rem;
}

/* Image Dot Styling */
.block--image figcaption::before {
    content: "●";
    color: #EB5500;
}

/* Link Dot Styling */
.block--link::before {
    content: "●";
    color: #B45982;
}

/* Video Dot Styling */
.block--linkedvideo::before {
    content: "●";
    color: #606F08;
}

/* Quote Styling */
.block--text .title::before {
    content: "●";
    color: #2A53EC;
}

/* Audio Styling */
.block--audio::before {
    content: "●";
    color: #D69A00;
}

/* PDF Styling */
.block--pdf::before {
    content: "●";
    color: #FFB9DA;
}

.block--image__description {
    display: none;
}

.block--image.active .block--image__description {
    display: block;
}

/* Images Styling */
/* .block--image figcaption {
    font-family: 'Volkhov', serif;
    font-size: 30px;
    max-width: 50vw;
}

.block.descritpion p {
    font-size: 3em;
}

.block--image .block.description {
    max-width: 50vw;
} */

/* Links Styling
.block--link {
    font-family: 'Volkhov', serif;
    font-size: 30px;
    padding-bottom: 0.5em;
    max-width: 50vw;
}

.block.title, .block.description_html {
    max-width: 50vw;
    padding-bottom: 1em;
}

.block--link a:hover {
    font-family: 'Volkhov', serif;
    font-style: italic;
    text-decoration: underline;
}


/* Text Styling */
/* .block--text {
    font-family: 'Work Sans', sans-serif;
}

.block--text blockquote + p {
    color: green;
}

.blocktext .blocktitle {
    margin-top: 1em;
} */

/* Video Styling */
/* .block--linkedvideo {
    font-family: 'Volkhov', serif;
    font-size: 30px;
    max-width: 50vw;
    margin-top: 1em;
} */

/* PDF Styling */
/* .block--pdf {
    font-family: 'Volkhov', serif;
    font-size: 30px;
    max-width: 50vw;
    margin-top: 1em;
} */

/* Footer  */

footer p {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--footer-p);
    color: #F8F3F0;
}

footer {
    background-color: black;
    padding-top: var(--padding-footer);
    padding-bottom: var(--padding-footer);
    padding-left: var(--padding-footer);
}


/* Mobile*/
@media (min-width:350px) {
    /* :root {
        --typography-p: 40px;
        --typography-h1: calc(3 * var(--typography-p));
        --header-p: 20px;

        --padding-header: 25px;
        --padding-footer: 25px;
        --padding: 60px;
        --padding-h1: 100px;
        --padding-intro: 100px;

        --footer-p: 18px;

        --gutter: var(--typography-p);
        --places-p: 50px;
        
        --padding-h2: 100px;
        --padding-places: 100px;
    }

    img {
        aspect-ratio: 20%;
        object-fit: cover;
        width: 30%;
        padding-left: calc(0.5 * var(--padding-places));
        padding-right: calc(0.5 * var(--padding-places));
    } */
}

/* Desktop */
@media (min-width:1200px) {
    :root {
        --typography-p: 22px;
        --typography-h1: 30px;

        --block-margin: 2em;

        --column-title-p: 25px;
        --column-padding: 4rem;

        --intro-padding: 4rem;

        --figcaption-p: 20px;

        --gutter: var(--typography-p);
    }

    h1 {
        /* max-width: 50%; */
        line-height: 100%;
    }

    .wrapper {
        display: flex;
    }

    .column-title {
        width: 45%;
    }

    .channel-title {
        position: fixed;
        top: 0;
    }

    .column-content {
        position: relative;
        background-color: white;
    }
}