/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Volkhov', serif; */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
    --colour-background: #EDE8D3;
    
    --colour-image: #EB5500;
    --colour-image-dark: #c38967;

    --colour-audio: #D69A00;
    --colour-audio-dark: #d2b56c;
    
    --colour-video: #95a43f; 
    --colour-video-dark: #6c7346; 

    --colour-link: #b96eba;
    --colour-link-dark: #946995;

    --colour-pdf: #FF77B7;
    --colour-pdf-dark: #e096b8;

    --colour-text: #4e74ff;
    --colour-text-dark: #7282b9;
}

/* Styling Time! */
html {
    scroll-behavior: smooth;
}

 /* ------------------ COLUMN TITLE STYLE ------------------ */
/* Intro Column */ 
.column-title {
    background-color: var(--colour-background);
    padding-left: var(--column-padding);
    padding-right: var(--column-padding);
    padding-top: calc(1* var(--column-padding));
}

.column-title p {
    font-family: 'Rubik', sans-serif; 
    font-size: var(--column-title-p);
}

/* Site Title */
h1 {
    font-family: 'Volkhov', serif;
    font-size: var(--column-title-h1);
    line-height: var(--column-title-lineheight);
    color: black;
    text-transform: uppercase;
}

/* Site Description */
.channel-description {
    padding-top: var(--intro-padding);
}

/* ------------------ NAV BAR ------------------ */
/* Entire Nav Bar */
.nav-bar {
    display: flex;
    flex-direction: column;
    margin-top: var(--nav-bar-margin-top);
}

/* Nav Bar Buttons */
.nav-bar button {
    background-color: var(--colour-background);
    margin-bottom: var(--nav-bar-button-margin);
    font-family: 'Rubik', sans-serif;
    font-size: var(--nav-bar-button-p);
    width: var(--nav-bar-button-width); 
    border-radius: var(--nav-bar-button-radius);
    padding-top: var(--nav-bar-button-padding);
    padding-bottom: var(--nav-bar-button-padding);
    display: flex;
    justify-content: center;
    align-content: center;
    border-style: solid;
    border-width: var(--nav-bar-button-border);
}

.nav-bar button:hover {
    border-radius: var(--nav-bar-button-radius);
    box-shadow: var(--nav-bar-button-boxshadow);
    cursor: pointer;
}

.nav-bar button.active {
    box-shadow: var(--nav-bar-button-boxshadow);
}

/* Audio Button */
#audio-button,
#audio-button-small {
    color: var(--colour-background);
    border-color: var(--colour-audio-dark);
    background-color: var(--colour-audio-dark);
}

/*Use '#'' to select elements by their ID, while '.' is for their class*/
#audio-button:hover, 
#audio-button-small:hover { 
    color: white;
    background-color: var(--colour-audio);
    border-color: var(--colour-audio);
}

#audio-button.active, 
#audio-button-small.active {
    color: white;
    background-color: var(--colour-audio);
    border-color: white;
}

/* PDF Button */
#pdf-button,
#pdf-button-small {
    color: var(--colour-background);
    background-color: var(--colour-pdf-dark);
    border-color: var(--colour-pdf-dark);
}

#pdf-button:hover {
    color: white;
    background-color: var(--colour-pdf);
    border-color: var(--colour-pdf);
}

#pdf-button.active,
#pdf-button-small.active{
    color: white;
    background-color: var(--colour-pdf);
    border-color: white;
}

/* Image Button */
#image-button,
#image-button-small {
    color: white;
    background-color: var(--colour-image-dark);
    border-color: var(--colour-image-dark);
}

#image-button:hover,
#image-button-small:hover {
    color: var(--colour-background);
    background-color: var(--colour-image);
    border-color: var(--colour-image);
}

#image-button.active,
#image-button-small.active {
    color: white;
    background-color: var(--colour-image);
    border-color: white;
}

/* Link Button */
#link-button,
#link-button-small {
    color: white;
    border-color: var(--colour-link-dark);
    background-color: var(--colour-link-dark);
}

#link-button:hover,
#link-button-small:hover {
    color: white;
    background-color: var(--colour-link);
    border-color: var(--colour-link);
}

#link-button.active,
#link-button-small.active {
    color: white;
    background-color: var(--colour-link);
    border-color: white;
}

/* Video Button */
#video-button,
#video-button-small {
    color: white;
    background-color: var(--colour-video-dark);
    border-color: var(--colour-video-dark);
}

#video-button:hover,
#video-button-small:hover {
    color: white;
    background-color: var(--colour-video);
    border-color: var(--colour-video);
}

#video-button.active,
#video-button.active:hover {
    color: white;
    background-color: var(--colour-video);
    border-color: white;
}

/* Text Button */
#text-button,
#text-button-small {
    color: white;
    background-color: var(--colour-text-dark);
    border-color: var(--colour-text-dark);
}

#text-button:hover,
#text-button-small:hover {
    color: white;
    background-color: var(--colour-text); 
    border-color: var(--colour-text); 
}

#text-button.active,
#text-button-small.active {
    color: white;
    background-color: var(--colour-text);
    border-color: white;
}

/* ------------------ CONTENT COLUMN STYLE ------------------ */
/* Background Space Column Content is Taking Up */
.column-content {
    /* padding-left: var(--column-padding); */
    padding-right: var(--column-padding);
    padding-top: calc(1* var(--column-padding));
    padding-bottom: calc(1* var(--column-padding));
    background-color: white;
}

/* ------------------ CONTENT TITLES BULLET POINT STYLE ------------------ */
/* Bullet Point List*/
.block {
    margin-top: var(--block-margin);
}

/* Content Titles Styling*/
.block--image figcaption, 
.block--link figcaption, 
.block--linkedvideo figcaption, 
.block--text figcaption, 
.block--uploadedaudio figcaption, 
.block--pdf figcaption {
    font-family: 'Volkhov', serif;
    font-size: var(--figcaption-p);
}

/* Content Titles Styling on Hover*/
.block--image figcaption:hover, 
.block--link figcaption:hover, 
.block--linkedvideo figcaption:hover, 
.block--text figcaption:hover, 
.block--uploadedaudio figcaption:hover, 
.block--pdf figcaption:hover {
    cursor: pointer;
    text-decoration: underline;
}

.block--image figcaption:hover {
    color: var(--colour-image);
}

.block--link figcaption:hover {
    color: var(--colour-link);
}

.block--linkedvideo figcaption:hover {
    color: var(--colour-video);
}

.block--text figcaption:hover {
    color: var(--colour-text);
}

.block--uploadedaudio figcaption:hover {
    color: var(--colour-audio);
}

.block--pdf figcaption:hover {
    color: var(--colour-pdf);
}

.block--image, 
.block--link, 
.block--linkedvideo, 
.block--text, 
.block--uploadedaudio, 
.block--pdf {
    list-style-type: none;
    padding: var(--figcaption-padding);
    align-items: center;
}

.block--image::marker,
.block--link::marker,
.block--linkedvideo::marker,
.block--text::marker,
.block--uploadedaudio::marker,
.block--pdf::marker {
    content: '•';
    font-size: var(--block-marker-size);
    display: inline-block;
    width: var(--block-marker-size);
    height: var(--block-marker-size);
    border-radius: 100%;
    border-style: solid;
    border: 2px;
}

/* .block::marker {
    content: '•';
    font-size: var(--block-marker-size);
} */

/* Image Styling */
.block--image::marker {
    color: var(--colour-image);
}

/* Link Styling */
.block--link::marker {
    color: var(--colour-link);
}

/* Video Styling */
.block--linkedvideo::marker {
    color: var(--colour-video);
}

/* Text Styling */
.block--text::marker {
   color: var(--colour-text);
}

/* Audio Styling */
.block--uploadedaudio::marker {
    color: var(--colour-audio);
}

/* PDF Styling */
.block--pdf::marker {
   color: var(--colour-pdf);
}

/* Hiding the style on toggle */
.hidden {
    display: none;
}

/* ------------------ POP-UP CONTENT STYLE: BACKGROUND SPACE ------------------ */
/* Link */
.block--link__description {
    background-color: var(--colour-link);
}

/* Video */
.block--linkedvideo__description {
    background-color: var(--colour-video);
}

/* Audio */
.block--uploadedaudio__description {
    background-color: var(--colour-audio);
}

/* PDF */
.block--pdf__description {
    background-color: var(--colour-pdf);
}

/* Image */
.block--image__description {
    background-color: var(--colour-image);
}

/* ------------------ POP-UP CONTENT STYLE: HEADER ------------------ */
/* Header Sits On Top of Everything */
.description-header {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
    margin-bottom: 2rem;
    top: 0;
    width: 100%;
    position: relative;
}

/* Media Class */
.class-onclick, 
.text-class-onclick {
    font-family: 'Worksans', sans-serif;
    font-size: var(--class-onclick-p);
    text-transform: uppercase;
    color: white;
    font-weight: 100;
}

/* Close Button */
.close-button {
    font-family: 'Worksans', sans-serif;
    font-size: calc(0.8 * var(--class-onclick-p));
    color: white;
    border-radius: 50%;
    display: block;
    text-align: center;
    align-content: center;
}

.close-button:hover {
    cursor: pointer;
    color: white;
    font-weight: 400;
    border: 2px white;
    border-style: solid;
}

/* ------------------ POP-UP CONTENT STYLE: TITLE & BLURB ------------------ */
.title-onclick,
.linkedvideo-title-onclick, 
.text-title-onclick {
    font-family: 'Volkhov', serif;
    font-size: var(--description-title-p);
    line-height: 110%;
}

.blurb-onclick, 
.text-blurb-onclick {
    font-family: 'Rubik', sans-serif;
    font-size: var(--description-blurb-p);
    padding-top: var(--blurb-onclick-padding);
    padding-bottom:  var(--blurb-onclick-padding-bottom);
}

.description-onclick {
    padding-top: var(--description-onclick-margin);
}

/* ------------------ POP-UP CONTENT STYLE: ORIGINAL SOURCE ------------------ */
/* Link to Original Source */
.link-source-onclick,
.text-source-onclick,
.linkedvideo-source-onclick,
.images-source-onclick,
.pdf-source-onclick,
.source-onclick {
    font-family: 'Volkhov', serif;
    font-style: italic;
    font-size: var(--source-onclick-p);
    border: black 1px;
    background-color: white;
    border-style: solid;
    width: var(--source-onclick-width); 
    border-radius: var(--source-onclick-radius);
    padding-top: var(--source-onclick-padding);
    padding-bottom: var(--source-onclick-padding);
    display: flex;
    justify-content: center;
    align-content: center;
}

.link-source-onclick:hover,
.linkedvideo-source-onclick:hover,
.text-source-onclick:hover,
.images-source-onclick:hover,
.pdf-source-onclick:hover,
.source-onclick:hover {
    color: white;
    border: white 5px;
    background-color: black;
    transition: 0.3s; /* Add transition for smooth effect */
}

/* ------------------ MEDIA CLASS: TEXT/QUOTE ------------------ */
/* Text Description Styles */
.block--text__description {
    background-color: var(--colour-text);
}

.text-onclick {
    background-color: white;
    padding: var(--text-onclick-padding);
    align-items: start;
    overflow: auto;
    /* Need to figure out how to make it relative */
}

.text-onclick h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--text-onclick-h1);
    text-transform: none;
    font-style: normal;
    color: black;
}

.text-onclick p {
    display: none;
}

.text-class-onclick, 
.text-title-onclick, 
.text-blurb-onclick{
    text-transform: none;
    font-style: normal;
}


/* ------------------ MOBILE ------------------ */
@media (min-width: 300px) {
    :root {
        --block-margin: 0.5em;

        /* Title Styles*/
        --column-title-h1: 100px;
        --column-title-lineheight: 100%;
        --column-title-p: 38px;
        --column-padding: 4rem;
        --intro-padding: 4rem;

        /* Whole Nav Bar */
        --nav-bar-margin-top: 2rem;

        /* Nav Bar Buttons Styling */
        --nav-bar-button-p: 40px;
        --nav-bar-button-width: 80%;
        --nav-bar-button-radius: 50px;
        --nav-bar-button-padding: 5px;
        --nav-bar-button-margin: 40px;
        --nav-bar-button-border: 2px;
        --nav-bar-button-boxshadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

        /* Block Titles in Column Content */
        --figcaption-p: 35px;
        --figcaption-padding: 17px;

        /* Bullet Point Size */
        --block-marker-size: 75px;

        /* Class in Description */
        --class-onclick-p: 50px;

        /* Text 'Quote' Styles */
        --text-onclick-h1: 60px;
        --text-onclick-padding: 50px;

        /* Description: Title */
        --description-title-p: 75px;

        /* Description: Blurb */
        --description-blurb-p: 45px;
        --blurb-onclick-padding: 2rem;
        --blurb-onclick-padding-bottom: 13rem;

        /* Source Button */
        --source-onclick-p: 40px;
        --source-onclick-width: 80%;
        --source-onclick-padding: 30px;
        --source-onclick-radius: 70px;
        --source-onclick-margin: 6rem;

        --gutter: var(--typography-p);
    }

    .wrapper {
        display: grid;
    }

    /* ------------------ COLUMN TITLE STYLE ------------------ */
    
    .column-title {
        position: sticky;
        top: 0;
        padding-bottom: 4rem;
    }

    .column-title p {
        line-height: 110%;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar-small {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4rem;
        width: 100%;
    }

    .nav-bar-small button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 30px;
    }

    .nav-bar-small img {
        width: 100px;
        padding: 20px;
    }

    /* ------------------ COLUMN CONTENT STYLE ------------------ */
    .column-content {
        flex: 1; /* Allow column to grow and shrink */
        overflow-y: auto; /* Enable vertical scrolling */
        /* padding-bottom: 2rem; */
        padding-left: 7rem;
    }

    /* onClick Background Styling */
    .block--image__description, 
    .block--link__description, 
    .block--linkedvideo__description, 
    .block--text__description, 
    .block--uploadedaudio__description, 
    .block--pdf__description {
        display: none;
        position: fixed;
        top: 0;
        /* top: 32%; */
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: var(--column-padding);
        padding-left: var(--column-padding);
        padding-right: var(--column-padding);
    }

    .block--image.active .block--image__description, 
    .block--text.active .block--text__description, 
    .block--uploadedaudio.active .block--uploadedaudio__description, 
    .block--link.active .block--link__description, 
    .block--linkedvideo.active .block--linkedvideo__description,
    .block--pdf.active .block--pdf__description {
        display: flex;
        flex-direction: column;
    }
    
    .close-button {
        font-weight: 200;
        border: 2px white;
        border-style: solid;
        width: 75px;
        height: 75px;
    }

    /* ------------------ IMAGE SHOWN IN DESCRIPTION ------------------ */
    .image-large {
        display: none;
    }

    .image-thumbnail {
        display: contents;
    }

    .link-description-body,
    .images-description-body {
        overflow: auto; /* Add a scrollbar when content overflows */
    }

    .title-onclick,
    .linkedvideo-title-onclick, 
    .text-title-onclick {
        margin-top: 4rem;
    }

    /* ------------------ LINK TO ORIGINAL SOURCE ------------------ */
    .images-source-onclick,
    .link-source-onclick,
    .text-source-onclick,
    .pdf-source-onclick,
    .linkedvideo-source-onclick {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }

    .source-onclick {
        background-color: var(--colour-image);
    }

    /* ------------------ VIDEO STYLE ------------------ */
    /* Video Itself */
    .linkedvideo-onclick iframe {
        width: 400%;
        height: 100%;
    }

    /* ------------------ AUDIO STYLE ------------------ */
    /* Actual Audio Visual */
    .uploadedaudio-onclick audio {
        width: 100%; /* Adjust the width as needed */
        height: 100px; /* Adjust the height as needed */
    }
}
    

/* ------------------ DESKTOP ------------------ */
@media (min-width:1200px) {
    :root {
        --block-margin: 0.3em;

        --figcaption-padding: 10px;

        /* Whole Nav Bar */
        --nav-bar-margin-top: 2rem;

        /* Nav Bar Buttons Styling */
        --nav-bar-button-p: 15px;
        --nav-bar-button-width: 100%;
        --nav-bar-button-radius: 20px;
        --nav-bar-button-padding: 5px;
        --nav-bar-button-margin: 10px;

        /* Title Styles*/
        --column-title-h1: 50px;
        --column-title-lineheight: 140%;
        --column-title-p: 18px;
        --column-padding: 4rem;
        --intro-padding: 2rem;

        --description-onclick-margin: 2rem;

        /* Content Title List Style */
        --figcaption-p: 20px;

        /* Bullet Point Size */
        --block-marker-size: 25px;

        /* Header: Media Class */
        --class-onclick-p: 18px;

        /* Text Styles */
        --text-onclick-h1: 45px;

        /* Description: On Click Styles */
        --description-title-p: 40px;
        --description-blurb-p: 20px;
        --description-onlick-padding: 2rem;
        --blurb-onclick-padding: 1.5rem;
        --blurb-onclick-padding-bottom: 1.5rem;

        /* Source Button Styling */
        --source-onclick-p: 18px;
        --source-onclick-width: 200px;
        --source-onclick-padding: 10px;
        --source-onclick-radius: 30px;
        --source-onclick-margin: 2rem;

        --gutter: var(--typography-p);
    }

    .wrapper {
        display: flex;
    }

    /* ------------------ COLUMN TITLE: STYLE ------------------ */
    .column-title {
        position: sticky;
        width: 30%;
        height: 100vh;
        top: 0;
        z-index: 100; 
    }

    h1 {
        line-height: 100%;
    }

    .column-title p {
        width: 100%;
        line-height: 130%;
    }

    /* ------------------ CONTENT COLUMN STYLE ------------------ */
    .column-content {
        position: relative;
        width: 70%;
        padding-left: 4rem;
    }

    .nav-bar-small {
        display: none;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
    }

    /* ------------------ POP-UP CONTENT STYLE: BACKGROUND SPACE ------------------ */
    /* onClick Background Styling */
    .block--image__description, 
    .block--link__description, 
    .block--linkedvideo__description, 
    .block--text__description, 
    .block--uploadedaudio__description, 
    .block--pdf__description {
        display: none;
        position: fixed;
        top: 0;
        left: 30vw;
        bottom: 0;
        right: 0;
    }

    .block--image.active .block--image__description, 
    .block--text.active .block--text__description, 
    .block--uploadedaudio.active .block--uploadedaudio__description, 
    .block--link.active .block--link__description, 
    .block--linkedvideo.active .block--linkedvideo__description,
    .block--pdf.active .block--pdf__description {
        display: flex;
        flex-direction: column;
    }

    .text-onclick {
        width: 50%;
    }

    .close-button {
        font-weight: 100;
        border: 1px white;
        border-style: solid;
        width: 25px;
        height: 25px;
    }

    .title-onclick,
    .linkedvideo-title-onclick, 
    .text-title-onclick {
        margin-top: 0;
    }

    /* ------------------  IMAGES STYLE ------------------   */
    /* Image Sizes */
    .image-thumbnail {
        display: none;
    }

    .image-large {
        display: contents;
    }

    /* ------------------ SIDE BY SIDE STYLE ------------------ */
    /* Image and Description: Side by side */
    .images-onclick,
    .images-description-body,
    .link-onclick,
    .link-description-body,
    .text-description-body,
    .pdf-onclick,
    .pdf-description-body {
        display: flex;
        align-items: flex-start; /* Align items at the top */
        flex-direction: row;
    }

    .images-description-onclick,
    .link-description-onclick,
    .text-description-onclick {
        flex-direction: column; /* Change direction to column for mobile responsiveness */
        width: 30vw;
        margin-left: 3rem;
    }

    .pdf-description-onclick {
        flex-direction: column; /* Change direction to column for mobile responsiveness */
        width: 30vw;
        margin-left: 3rem;
    }

    .images-source-onclick,
    .link-source-onclick,
    .text-source-onclick,
    .pdf-source-onclick {
        margin-top: var(--source-onclick-margin);
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }

    /* ------------------ LINKED VIDEO STYLE ------------------ */
    /* Linked Video: Video, Title, Description, and OG Source */
    .linkedvideo-description-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    /* Video Description */
    .linkedvideo-description-onclick {
        width: 100%;
        order: 2;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: var(--description-onlick-padding);
    }

    /* Video Title and Source Aligned at Top */
    .linkedvideo-title-onclick,
    .linkedvideo-source-onclick {
        align-self: flex-start;
    }

    .description-text {
        flex: 1;
    }

    .description-source {
        margin-left: 20px;
    }

    /* Video Title */
     .linkedvideo-title-onclick {
        width: 30vw;
    }
    
    .linkedvideo-source-onclick {
        margin-left: 5rem;
        top: 0;
    }

    .block--linkedvideo__description > .title-onclick {
        max-width: 50vw;
    }

    /* Video Size */
    .linkedvideo-onclick iframe {
        width: 100vw;
        height: 420;
    }

    /* ------------------ AUDIO STYLE ------------------ */
    /* Actual Audio Visual */
    .uploadedaudio-onclick audio {
        width: 100%; /* Adjust the width as needed */
        height: 50px; /* Adjust the height as needed */
    }

    .audio-description-onclick {
        margin-top: 3rem;
        width: 30vw;
    }
}

